// 文字颜色
$color-title: rgba(0, 0, 0, 1);
$color-text: rgba(0, 0, 0, .651);
$color-text--sub: rgba(0, 0, 0, .349);
$color-text--link: hsla(209, 100%, 55%, 1);
$color-text--selected: hsla(209, 100%, 55%, 1);
$color-search--hight: rgba(255, 108, 0, 1 );
$color-in-icon: rgba(0, 0, 0, 0.251 );
// 按钮颜色

