.ht-title {
  font-size: 16px;
  color: $color-title;
}

.ht-text {
  font-size: 14px;
  color: $color-text;
}


.ht-text--sub {
  font-size: 14px;
  color: $color-text--sub;
}

.ht-text--hight {
  font-size: 14px;
  color: $color-text--hight;
}

.ht-search--hight {
  font-size: 14px;
  color: $color-search--hight;
}

.ht-in-icon {
  font-size: 12px;
  color: $color-in-icon;
}
